*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: black;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  
}

nav{
    justify-content: space-around;
    display: flex;
    padding: 14px;
    border-bottom: 2px solid gray;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    transition: .2s;

   
}
nav:hover{
    box-shadow: 0 1px 20px 1px ;
}
nav h2{
    color: orangered;
    font-weight: 800;
    transition:.3s;
    cursor: pointer;
}
nav h2:hover{
    color: rgb(223, 62, 3);
}
nav ul{
    display: flex;
    gap: 20px;
    transition: .3s ease;

}
nav ul li{
    list-style: none;
    position: relative;
}
nav ul li::before{
    content: "";
    position: absolute;
    top: 130%;
    background-color: orangered;
    width:0%;
    height: 3px;
    border-radius: 50px;
    transition: 0.35s ease;
}
nav ul li:hover::before{
    width: 100%;
}
 .nav_button{
    background-color:orangered;
    padding: 10px 33px;
    border-radius: 50px;
    color:white;
    transition: .3s ease;
    border: none;
}
.nav_button:hover{
    transform: scale(1.1);
    background-color: rgb(224, 65, 7);
}

section{
    padding: 130px 9%;
    align-items: center;

}
.content{
    display: flex;
    align-items: center;
    gap: 50px;
}
.text-content{
    
    align-items: center;
    flex-basis: 40%;
}
.text-content h2{
    font-size: 35px;
}
.image-content{
    flex-basis: 50%;
}
.image-content img{
    width: 100%;
    object-fit: cover;
}
.content .text-content span{
    color: orangered;
}
.content .text-content p{
    margin: 20px 0;
}
.content .text-content .nav_button{
    display: inline-block;
}
.acc-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    gap: 40px;
    align-items: center;
    
}
.acc-content div{
    text-align: center;
    transition: .5s ease;
    cursor: pointer;

}
.acc-content div:hover{
    transform: translateY(-10px);
}
.acc-content div span{
    font-size: 19px;
    font-weight: 700;
}
#accessories h2{
    font-size: 50px;
    margin: 0px 0px 50px 0px;
    text-align: center;
    color: orangered;

}
.acc-content div img{
    width: 100%;
    object-fit: cover;
}
#gaming h2{
    text-align: center;
    font-size: 50px;
    color: orangered;
}
.g-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 40px;
    align-items: center;
    
}
.g-content div{
    margin-top: 60px;
    padding: 10px 50px 0 50px;
    background-color: rgb(167, 164, 164);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition: .5s;
}
.g-content div a{
    color: white;
}
.g-content div:hover{
    transform: translateY(-10px);
}
.g-content div span{
    font-weight: 700;
    margin-bottom: 10px;
}
.g-content div button{
    margin-top: 12px;
}
.g-content div img{
    width: 100%;
}

.l-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 40px;
    align-items: center;
    
}
#laptop h2{
      text-align: center;
    font-size: 50px;
    color: orangered;
}
.l-content div{
    margin-top: 60px;
    padding: 15px 5px 0 5px;
    background-color: rgb(167, 164, 164);
    height: 100%;
    box-shadow: 0 0 10px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition: .5s;
}


.l-content div img{
    transition: .5s ease;
    width: 100%;
}
.l-content div img:hover{
    transform: scale(1.1);

}
.l-content span{
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
}
.l-content .btns{
    width: 99%;
   transition: .5s;
    align-items: center;
    margin: 10px;
    flex-direction: row;
display: flex;
justify-content: space-around;
  
}
.l-content .btns:hover{
    transform: scale(1.031);
    background-color: rgba(0, 238, 255, 0.63);
}
.l-content .btns a{
    transition: .5s ease;
}
.l-content .btns a:hover{

    color: rgb(163, 0, 0);
}

#services>h2{
    text-align: center;
    font-size: 50px;
    color: orangered;
    margin-bottom: 90px;
}
.s-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 40px;
    align-items: center;
}
.s-content div{
    background-color: rgb(167, 164, 164);
    padding: 40px 10%;
    border-radius: 10px;
    transition: .5s;

}
.s-content div:hover{
    transform: scale(.95);
}
.s-content div h2{
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    transition: .5s ease;
}
.s-content div h2:hover{
    color: white;
}
.s-content div h2::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    border-radius: 50px;
    top: 110%;
    background-color: rgb(255, 254, 254);
    transition: .5s ease;
}
.s-content div h2:hover::before{
    width: 72%;
    background-color: orangered;
}
.s-content i{
    margin-bottom: 20px;
    font-size: 85px;
    text-align: center;
    align-items: center;
    color: orangered;
    transition: .5s;
    cursor: pointer;

}
.s-content i:hover{
transform: scale(1.2);
transform: rotate(360deg);

}

.s-content div a{
    display: inline-block;
    margin-top: 20px;
}
#contact{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
    margin-top: 200px;
}
#contact p a i{
    color: white;
}
#close, #menu{
    display: none;
} 
@media (max-width:870px) {
    #nav{
        padding: 15px 5px;
     
    }
    header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        font-size: 14px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 30px ;
    }
    .text-content{
        text-align: center;
    }
    .acc-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width:700px){

    
    
            nav{
          
              z-index: 1000000;
              padding: 15px 35px;
              justify-content: space-between;
            }
    nav ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        padding: 30px;
        width: 100%;
         background-color: rgb(83, 83, 83) !important;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 100000;
        top: -400px;
    }
  nav li a{
    color: white;
 

}
#close{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
}
.nav_button{
    display: none;
}

#close{
    display: block  ;
}
#menu{
    font-size: 30px;
    cursor: pointer;
    display: block;
}

 .nav-show{
    top: 0;
}
.g-content div a{
    display: block;
}
}



